html {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    /* border: 1px solid black;  */
}

h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 2em;
}

#prompt {
    text-align: center;
    font-size: 1.75em;
    /* visibility: hidden; */
}

#scores {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-evenly also works nicely */
    margin-bottom: -100px;
    font-size: 1.5em;
}

#game-squares {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 48vmin;
    gap: 1vmin;
    margin: 14vmin auto; 
    rotate: 45deg; 
}

.square {
    height: 23vmin;
    width: 23vmin;
    border-radius: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.square > p {
    rotate: -45deg;
    font-size: 2.5em;
}

#game-modes {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-evenly also works nicely */
    margin-top: -75px;
    margin-bottom: 75px;
}

#game-modes > button {
    font-size: 1.25em
}

#start-game {
    display: block; 
    margin: 0 auto; 
    font-size: 1.25em;
}

footer {
    text-align: center;
}

#ArrowUp.available {
    background-color: #FA5252
}

#ArrowUp.available:hover {
    background-color: #F92020;
}

#ArrowRight.available {
    background-color: #FBC037
}

#ArrowRight.available:hover {
    background-color: #FAB005;
}

#ArrowLeft.available {
    background-color: #228be6;
}

#ArrowLeft.available:hover {
    background-color: #1671BF;
}

#ArrowDown.available {
    background-color: #40c057;
}

#ArrowDown.available:hover {
    background-color: #339A45;
}

.playing {
    background-color: purple;
}